<h1>Sample App</h1>
<p>This is the homepage for <a href="http://railstutorial.org/">Ruby On Rails Tutorial</a>Sample Application</p>

<%= link_to "Signup Now!!", signup_path, :class =>  "signup_button round" %>

